.margin{
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
  }

  #names {
    border:1px solid ;
    
    text-align:left;
  }
  
  #names tr td  , #names tr th {
    padding:1em;
  }